.htmlBody{
    margin: 0;
    padding: 0;
}
.head{
    text-align: center;
    z-index: 100;
    position: absolute;
    width: 100%;
    color: azure;
}
.view{
    overflow: hidden;
}
.baseViewSize{
    width: 1440px;
    height: 660px;
}

#homPageMainView{

    margin: 0;
    position: relative;
    top: 0px;
    z-index: 0;
}
iframe{
    margin: 0;
    border: 0;
}
.textP{
    text-align: center;
    width: 100%;
    float: left;
    overflow: hidden;
}
.content{
    margin: auto;
    width: calc(100% - 360px);
    height: auto;
}
#fold{
    padding: 5px
}
.foldContent{
    z-index: 2;

    float: left;
    margin: 0;
}
#foldContentLeft{
    width: calc((100%/3.8));
    margin-right: calc(  (100% - 2*(100%/3.8) - (100%/2.5) )  /2  );
}

#foldContentCentre{
     width: calc(100%/2.5);
     margin-right: calc(  (100% - 2*(100%/3.8) - (100%/2.5) )  /2  );
 }
#foldContentRight{
    width: calc((100%/3.8));

}

#foldViewCentre{
}
#foldViewLeft{

}
.foldView{
    width: 100%;
}

#introduce{
    height: max-content;
}
#introduceContent{
    width: 100%;
    height: max-content;
}
.introduceContent{
    width: auto;
    float: left;
    height: max-content;
}
#introducePhoto{
    width: calc(200%/3 - 10px);
}
#introducePhotoImg{
    width: 100%;
}
#introduceText{
    margin-left: 10px;
    width: calc( 100% - (200%/3) );
}
.tablePhotoImg{
    width: calc(100% - 10px);
    margin-left: 10px;
}
.tableFirst{
    margin: 0;
}
.afterContent{
    margin-bottom: 200px;
}
#bottom{
    text-align: center;
    padding-bottom: 200px;
    background-color: darkgray;
}